<form [formGroup]="ngForms.form" [ngForm]="ngForms.form">

  <label>
    First Name:
    <input ngFormControl type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input ngFormControl type="text" formControlName="lastName">
  </label>

</form>

<form [formGroup]="ngForms.work" [ngForm]="ngForms.work">

  <label>
    Phone:
    <input ngFormControl type="text" formControlName="phone" name="phone">
  </label>

  <label>
    Email:
    <input ngFormControl type="text" formControlName="mail" name="mail">
  </label>

</form>


{{ ngForms.form.value | json }}
{{ ngForms.work.value | json }}
