<form [formGroup]="form">

  <label>
    First Name:
    <input type="text" formControlName="firstName" name="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName" name="lastName">
  </label>

</form>

<form [formGroup]="work">

  <label>
    Phone:
<input type="text" formControlName="phone" name="phone">
  </label>

  <label>
    Email:
<input type="text" formControlName="mail" name="mail">
  </label>

</form>


{{ form.value | json }}
{{ work.value | json }}
