/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: "Open Sans", sans-serif;
  background-color: #FAFAFA;
}

pre {
  font-size: 13px !important;
  border: 1px solid #333;
  padding: 6px 10px;
  border-radius: 10px;
  background: #444;
  color: #eee;
}
